.container {
    width: 60%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.img {
    height: 650px;
    object-fit: cover;
}

.detailContainer {
    margin-top: 20px;
}

.name {
    font-size: 26px;
    color: var(--fontColor);
}

.tags {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 3px;

    background-color: var(--colorWine);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    /*     box-shadow: rgba(169, 169, 169, 0.626) 0 .1px 10px 0;
    border: 1px solid #e6e6e6; */
}

.price {
    margin: 10px 0;
    font-size: 26px;
    color: var(--fontColor);
    line-height: 2;
}

.bold {
    color: var(--fontColor);
    font-weight: bold;
    font-size: 15px;
}

.itemsTextContainer {
    margin-bottom: 8px;
    min-height: 8px;
}

.itemsText {
    font-size: 15px;
}

.inputAmount {
    display: inline-block;
    border-radius: 3px;
    color: var(--fontColor);
    padding: 5px 10px;
    margin: 0 10px;
    max-width: 60px;
    line-height: 22px;
}

.buttons {
    width: 200px;

    display: flex;
    flex-direction: column;
}

.buttons :first-child {
    margin: 10px 0;
}

.country {
    margin: 20px 0;
}

.description {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(169, 169, 169, 0.626) 0 .1px 10px 0;
    border: 1px solid #e6e6e6;
}