.container {
    width: 300px;

    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: #a9a9a9a0 0 0 12px;
    border: 1px solid #e6e6e6;

    position: fixed;
    bottom: 10px;
    left: 10px;

    animation: opacidad 500ms cubic-bezier(.75, -3, .25, 4) 1;

}

.btn {
    position: absolute;
    top: 4;
    right: 4px;

    border: none;
    background: none;
    padding: 8px 8px 0 0;
    font-size: 18px;
    color: #c3c3c3;
    cursor: pointer;
}

.btn:hover {
    color: crimson;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 18px;
    color: #191919;
    margin: 30px 0 10px 0;
}

.email {
    width: 250px;
    height: 40px;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: .8px;
    font-weight: bold;
    font-family: Poppins;
    outline: none;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    color: #494545;
}

.submit {
    margin-bottom: 10px;
    color: #333333;
}

@keyframes opacidad {
    0% {
        opacity: 0;
        bottom: 0;
        left: 10px;
    }

    100% {
        opacity: 1;
        bottom: 10px;
        left: 10px;
    }
}