.form {
  background-color: rgba(0, 0, 0, 0.364);
  display: grid;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  width: 50%;
  height: 60%;
  border-radius: 5px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.close {
  color: #c3c3c3;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  top: 25px;
  right: 35px;
}

.close:hover {
  color: var(--hovered-color);
}

.form__content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 8px;
}

.form__group {
  position: relative;
}

.form__inputs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.form__elements{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__input {
  display: block;
  width: 100%;
  background: #fff;
  color: #49454567;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #49454567;
  border-radius: 10px;
}
.form__input:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.form__viewimg{
  width: 300px;
  height: 350px;
  border: 1px solid #49454567;
  border-radius: 5px;
}

.form__lbl {
  color: #49454567;
  font-size: .9rem;
  left: 5px;
  top: 10px;
  pointer-events: none;
  transition: 0.5s transform, color 0.3s;
}

.btn {
  background-color: var(--colorDark);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
}


.form__message {
  width: 400px;
  height: 30px;
}

.form__alert{
  height: 80px;
}

.imgSide {
  padding: 10px 0;
}