.address{
  width: 100%;
  background-color: #fff;
  border: 1px solid #191919;
  border-radius: 10px;
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address__title{
  color: #191919;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.address__selects{
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.address__countries{
  grid-column: 1/-1;
  grid-row: 1/1;
}
.address__states{
  grid-column: 1/1;
  grid-row: 2/-1;
}
.address__cities{
  grid-column: 2/2;
  grid-row: 2/-1;
}
.address__select{
  display: block;
  width: 100%;
  background: #fff;
  color: #191919;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #191919;
  border-radius: 10px;
}
.address__select:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.address__inputs{
  display: grid;
  margin-top: 10px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.address__data{
  grid-column: 1/1;
}
.address__data__izq{
  grid-column: 2/2;
}
.address__input{
  display: block;
  width: 100%;
  background: #fff;
  color: #191919;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #191919;
  border-radius: 10px;
}
.address__input:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.address__reference{
  display: grid;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.address__textarea{
  display: block;
  min-width: 100%;
  max-width: 0;
  min-height: 100px;
  max-height: 100px;
  background: #fff;
  color: #191919;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #191919;
  border-radius: 10px;
}
.address__textarea:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.address__finish{
  margin-top: 10px;
}
.address__alert{
  text-align: center;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
.error{
  color: crimson;
}
.ok{
  color: rgb(13, 151, 13);
}