.container {
    background-color: #fff;
    height: 30vh;
    width: 220px;
    margin: 90px 0 0 0;
    border-radius: 0 15px 15px 0;
    box-shadow: var(--boxShadow);
    border: var(--border);

    position: relative;
    z-index: 100;
}