.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 60%;
}

.title {
    margin-bottom: 20px;
    color: #212121ec;
}

p {
    margin: 0 0 5px 0;
}

.box {
    width: 60%;

    display: flex;
    flex-direction: column;
}

.rateBox {
    margin: 0 0 20px 0;
}

.reviewBox {
    display: flex;
    padding: 0 0 10px 0;

}

.picture {
    background-color: var(--bgColor);
    border-radius: 60px;
    height: 65px;
    width: 65px;
    margin: 5px 10px 0 0;
}

.img {
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}


.textarea {
    font-size: 15px;
    resize: none;
    border-radius: 4px;
    padding: 12px;
    border: none;
    box-shadow: var(--boxShadow);

}

.textarea:focus {
    outline: none;
    box-shadow: #251b1ba0 0 .1px 10px 0;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: var(--colorWine);
    border: none;
    color: #fff;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(1.2);
}

/*Loader*/

.loader {
    --height-of-loader: 4px;
    width: 85%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--hovered-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}