
.card{
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 10px 10px;
}
.card__picture{
  width: 100px;
  height: 150px;
  object-fit: cover;
  display: grid;
}
.card__name{
  font-size: 1rem;
}