.container {
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bgColor);
    height: 100vh;
    z-index: -1;

    display: flex;

}

.h2 {
    color: #fff;
    font-size: 28px;
    margin: 50px 20px 0 50px;

    z-index: 1;
    position: relative;
}

.h3 {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 20px 0 50px;

    z-index: 1;
    position: relative;
}

.title {
    margin: 20px;

}

.cards {
    margin-top: 170px;
    width: 530px;
    height: 380px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    width: 240px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 16px;
    color: #fff;

    z-index: 10;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:first-child {
    background-color: #607d8b;
}

.card:nth-child(2) {
    background-color: #455a64;
}

.card:nth-child(3) {
    background-color: #546e7a;
}

.card:nth-child(4) {
    background-color: #37474f;
}


.cardTitle {
    color: #e8e8e8;
    font-size: 18px;
}

.cardInfo {
    font-size: 35px;
    font-weight: bold;
}

.dona {
    height: 400px;
    width: 600px;
    padding: 20px;

    display: flex;
    justify-content: center;

    z-index: 10;
    position: absolute;
    top: 550px;
    right: 10px;
}