.container {
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bgColor);
    height: 100vh;
    z-index: -1;

    display: flex;

}

.h2 {
    color: #fff;
    font-size: 28px;
    margin: 50px 20px 0 50px;

    z-index: 1;
    position: relative;
}

.h3 {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 20px 0 50px;

    z-index: 1;
    position: relative;
}

.title {
    margin: 20px;

}

.card {
    height: 160px;
    width: 330px;
    background-color: #fff;
    border-radius: 5px;
    border: var(--border);
    box-shadow: var(--boxShadow);

    z-index: 10;
    position: relative;
}