/* COLORS */
:root {
    --colorPrimary: #191919;
    --fontColor: #191919;
    --fontColor2: #595959;
    --colorWine: #550f22;
    --hovered-color: #861432;
    --colorWhite: #e8e8e8;
    --colorBone: #F1EEE5;
    --colorDark: #030f22;
    --bgColor: #edf1f6;
    --oldColor: #592d4a;

    --borderRadiusButtons: 3px;
    --boxShadow: #a9a9a9a0 0 .1px 10px 0;
    --border: 1px solid #e6e6e6;
}

/* body::-webkit-scrollbar {
    opacity: 0;
    width: 10px;
} */

/* 
body::-webkit-scrollbar-thumb {
    background-color: #030f22;
    border-radius: 3px;
} */

/*Navbar*/
.material-symbols-outlined {
    font-weight: bold;
    font-size: 25px;
    align-self: center;
    cursor: pointer;

}