.dashboard{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: var(--bgColor);
  position: relative;
}
.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.dashboard__content{
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.dashboard__cabecera{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.dashboard__edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 4/5;
}
.dashboard__edit > h2{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 4px;
  border-bottom: 2px solid #49454567;
}
.dashboard__data{
  margin: 20px 0 10px;
  font-size: 1.2rem;
}
.dashboard__picture{
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.dashboard__picture:hover .dashboard__picoverlay{
  transform: translate(0) rotate(360deg);
  cursor: pointer;
}
.dashboard__img{
  width: 100%;
  border: 2px solid #49454567;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  background-size: cover;
}
.dashboard__picoverlay{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  text-align: center;
  color: #fff;
  transform: translate(100%, 100%) rotate(0);
  transition: transform .5s;
}

.dashboard__fullname{
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard__name,
.dashboard__surname{
  font-size: 1.4rem;
  font-weight: 300;
  font-family: inherit;
}

.dashboard__data{
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard__text{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: inherit;
}
.dashboard__text > span{
  font-weight: lighter;
}

.dashboard__edit{
  border: none;
  background: none;
  cursor: pointer;
}