:root {
  --color-primary: #F1EEE5;
  --color-bg: #464A8C;
}

/* * {
  outline: 1px solid red;
} */

.footer {
  width: 100%;
  height: 300px;
  max-height: max-content;
  background-color: #121212;
  color: var(--color-primary);
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.footer__content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit);
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
.footer__uno{
  grid-column: 1/2;
}
.footer__tres{
  grid-column: 3/4;
}

.footer__group {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__group__medio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/3;
}

.footer__link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.footer__link:visited {
  color: var(--color-primary);
}

.footer__link:hover {
  text-decoration: underline;
}
.footer__picture{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer__logo {
  width: 60%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.footer__copy{
  display: inline-block;
}
.footer__subtitle {
  font-size: 2rem;
}

.footer__social {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.footer__icon {
  display: block;
  width: 40px;
}