.container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cartList {
    min-height: 300px;
}

.title {
    font-size: 26px;
    color: #191919;
    margin-bottom: 10px;
}

.cartItem {
    display: flex;

    height: 90px;
    padding: 5px 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.img {
    height: 70px;
    cursor: pointer;
}

.gridd {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 10px;
}

.itemTitle {
    color: #191919;
    font-size: 15px;
    font-weight: bold;
}

.close {
    color: #c3c3c3;
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.close:hover {
    color: var(--hovered-color);
}

.amount {
    color: #191919;
    font-size: 15px;
}

.empty {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 8px;
    color: #595959;

}

.hr {
    margin: 20px 5px;
    opacity: .5;
}

.total {
    display: flex;
    justify-content: space-between;

    margin: 0 8px 20px 8px;
}

.totals {
    font-size: 22px;
    font-weight: bold;
}

.info {
    margin: 30px 0 300px 8px;
    font-size: 15px;
}

.link {
    color: #1ba8e0;
    font-weight: bold;
    font-size: 14px;
}

.pay {
    margin-left: 20px;
}