.container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cartList {
    border: 1px solid black;
}

.title {
    font-size: 26px;
    color: #191919;
}

.pay {
    border: 1px solid black;

}