.container {
    background-color: #fff;
    height: 500px;
    width: 1000px;
    margin: 50px;
    border-radius: 5px;
    border: var(--border);
    box-shadow: var(--boxShadow);

    z-index: 10;
    position: relative;
}

.stockContainer {
    margin: 20px 0 0 180px;
}

.stockItems {
    height: 30px;
    width: 80%;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 1fr 5fr 4fr 1fr;
}

.stockItems:hover {
    background-color: var(--bgColor);
}

.bold {
    align-self: center;
    font-weight: bold;
}