.btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #592D4A;
    padding: 0.6em 1.6em;
    font-size: 16px;
    border-radius: var(--borderRadiusButtons);
    background: #e8e8e8;
    border: 1px solid #e8e8e8;

    cursor: pointer;
}

.btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: #592D4A;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #592D4A;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn:hover {
    color: #ffffff;
    border: 1px solid #592D4A;
}

.btn:hover:before {
    top: -35%;
    background-color: #592D4A;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn:hover:after {
    top: -45%;
    background-color: #592D4A;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}