.aside__menu--hiden {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  color: #363636;
  cursor: pointer;
}

.aside__menu--hiden~.aside__elements {
  display: none;
  color: #363636;
}

.aside__section>button {
  color: #fff;
  background-color: var(--colorPrimary);
  width: 100%;
  height: 40px;
  display: flex;
  letter-spacing: 1px;
  cursor: pointer;
  align-items: center;
  padding: 0 4px;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #F1EEE5;
}

.aside__section:target .aside__elements {
  transition: .2s ease-in-out;
}