.container {
  margin: 40px 10px;
  min-width: 200px;
  max-width: 400px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  color: #363636;
}


.label {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  color: #363636;
}

.list {
  margin-bottom: 20px;
}

.list li {
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}

.list li:hover {
  background-color: #f5f5f5;
}

.list li:focus {
  background-color: #2bff00;
}

.radioBox {
  border-radius: 3px;
  padding: 0 5px;
}

.radioBox:hover {
  background-color: #f5f5f5;
}

.radioText {
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.radio {
  cursor: pointer;
  scale: 1.1;
}

.aside__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* estilos del acordeon */
/* .aside__section .radioBox {
  overflow: hidden;
  max-height: 0;
  text-align: justify;
}

.aside__section a{
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    background-color: #592D4A;
    border-radius: 4px;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.aside__section:target .radioBox{
    max-height: 100%;
    padding: 10px;
    transition: .2s ease-in-out;
} */

@media(max-width:400px){
  .container {
    margin: 20px 20px ;
    min-width: 300px;
    max-width: 300px;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    color: #363636;
  }
  
}