.container {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #49454567;
}
.form__content{
  width: 100%;
  padding: 10px 14px;
}
.title {
  color: #191919;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.label {
  font-size: 1rem;
  color: #595959;
}

.input {
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #49454567;
  border-radius: 10px;
  background: #fff;
  color: #49454567;
  display: block;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #e8e8e8;
  transition: .4s all ease-in-out;
}

.btn:hover {
  background-color: var(--colorWine);
  color: #e8e8e8;
}
