.carousel {
  width: 100%;
  text-align: center;
}

.card__content {
  width: 240px;
  height: 340px;
  background: linear-gradient(#fff 72%, #191919 28%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 1rem;
  margin: 0 auto;
  cursor: pointer;
}

.card__items {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__img {
  max-width: 220px;
  display: block;
  background-size: cover;
}

/* manipula el content del carousel */
.carousel__cards {
  height: 100%;
  border-radius: 5px;
  padding: 30px 0 30px 0;
}

.center {
  width: 82%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  z-index: 1;
}

.name {
  width: 240px;
  font-size: 1rem;
  font-family: inherit;
}

.name,
.price {
  color: #fff;
}