.btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    padding: 0.6em 1.6em;
    font-size: 16px;
    border-radius: var(--borderRadiusButtons);
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    cursor: pointer;
}

.btn:hover {
    opacity: .95;

}

.btn:active {
    color: var(--colorBone);
    scale: .98;
    transition: 50ms;
}