:root {
    --colorPrimary: #592D4A;
    --colorWhite: #e8e8e8;
    --colorBone: #F1EEE5;
}

.btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    padding: 0.6em 1.6em;
    font-size: 16px;
    border-radius: 0.5em;
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    cursor: pointer;
    opacity: .85;
}




.btn:hover {
    opacity: 1;
}