.container {
    background-color: #fff;
    height: 600px;
    width: 1000px;
    margin: 40px;
    border-radius: 5px;
    border: var(--border);
    box-shadow: var(--boxShadow);

    z-index: 10;
    position: relative;

}
.edit_input{
    padding: 3px;
    width: 350px;
    height: auto;
    align-self: center;
    font-size: 13px;
}
.ready {
    background: white;
    width: 35px;
    height: 25px;
    margin-left: 4px;
}
.ready:hover{
    background: #000;
    color: white;
    cursor: pointer;
}
.title {
    margin: 25px 0 0 40px;
}

.subtitle {
    margin: 0 0 0 40px;
    font-size: 15px;
    color: #595959;
    font-weight: 400;
}

.stockContainer {
    margin: 0 0 0 180px;
    overflow-y: scroll;
    height: 390px;




}

.stockItems:nth-child(2n +1) {
    background-color: var(--bgColor);

}

.stockContainer::-webkit-scrollbar {
    opacity: 0;
    width: 10px;
}


.stockContainer::-webkit-scrollbar-thumb {
    background-color: #030f22;
    border-radius: 3px;
}

.stockTitles {
    margin: 20px 0 5px 180px;
    height: 30px;
    width: 70%;
    cursor: pointer;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
}

.stockItems {
    height: 30px;
    width: 87%;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
}



.bold {
    align-self: center;
    font-weight: bold;
}

.text {
    align-self: center;
    font-size: 13px;
}

.buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn {
    background-color: var(--colorDark);
    color: #fff;
    border-radius: var(--borderRadiusButtons);
    padding: 6px 12px;
    cursor: pointer;
}

.name {
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 95%;
}

.name:focus {
    border: 1px solid black;
}

.stockInput {
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 90%;
}

.stockInput:focus {
    border: 1px solid black;
}

.btnEdit {
    width: 15px;
    border: none;
    background-color: transparent;
}