.store {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../../assets/moroccan-flower.png');
}

.container {
  width: 90%;
  margin: 0 auto;
}

.store__components {
  display: flex;
}

.store__cards {
  width: 100%;
}