:root {
  --primary: #F1EEE5;
}

.cards {
  width: 100%;
  padding: 30px 0;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px 20px;
  padding: 0 10px;
}

.cards__link {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
}


.cards__paginado {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0 20px;
}

.cards__btns__filter{
  display: flex;
  gap: 10px;
}

.arrows {
  display: flex;
  gap: 20px;
  align-items: center;

}

.btnLeft {
  cursor: pointer;
  padding: 8px;
  border-radius: 15px 0 0 15px;
  background: var(--colorWine);
  border: var(--colorWhite);


}

.btnRight {
  cursor: pointer;
  padding: 8px;
  border-radius: 0 15px 15px 0;
  background: var(--colorWine);
  border: var(--colorWhite);
}

.btnLeft:hover {
  background: var(--hovered-color);
}

#arrow {
  color: aqua;
}

.btnRight:hover {
  background: var(--hovered-color);
}

.cards__arrow {
  display: block;
  width: 15px;
}

.cards__currentpage {
  font-size: 1.2rem;

}