.bg {
    background-color: var(--colorPrimary);
    height: 90px;
    display: flex;
}


.container {
    height: 70px;
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    height: 65px;
}

.left {
    display: flex;
}

.navButtons {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    gap: 20px;
}

.image__profile {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.logOut {
    background-color: transparent;
    border: none;
    color: #fff;
}