.bg {
    background-color: var(--colorPrimary);
    height: 90px;
    display: flex;
}


.container {
    height: 70px;
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    height: 65px;
}

.left {
    display: flex;
}

.navButtons {
    display: flex;
    align-items: center;
}