.bg {
  background-color: var(--colorPrimary);
  height: 90px;
  display: flex;
}

li {
  list-style: none;
}

.container {
  height: 60px;
  width: 90%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  height: 65px;
}

.left {
  display: flex;
}

.navButtons {
  display: flex;
  align-items: center;
}

.navButtons li {
  margin-left: 30px;
  color: var(--colorWhite);
}

.navButtons li:hover {
  opacity: 0.8;
}
