:root {
  --color-primary: #F1EEE5;
  --color-btn: #592D4A;
}

.form {
  display: grid;
  min-height: 100vh;
  max-height: 100%;
  background-color: var(--bgColor);
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}



.form__title {
  font-size: 2.3rem;
  margin-bottom: 8px;
}

.form__group {
  position: relative;
  width: 400px;
}

.form__inputs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.form__input {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #fff;
  color: #49454567;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #49454567;
  border-radius: 10px;
}
.form__input:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


.form__lbl {
  color: #49454567;
  font-size: 1rem;
  left: 5px;
  top: 10px;
  pointer-events: none;
  transition: .5s transform, color .3s;
}

.form__submit {
  background: var(--color-btn);
  color: black;
  padding: .8em 1.5em;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-primary);
}


.form__submit__google {
  background: rgb(171, 7, 7);
  background-image: url(../../../public/logo-google.svg);
  background-size: 3.5rem;
  background-position: 20%;
  background-repeat: no-repeat;
  color: black;
  padding: .8em 1.5em;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-primary);
}

.form__alert {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-height: 100px;
  max-height: 100%;
  margin-top: 3em;
  padding: 10px 0;
}

.form__message {
  width: 400px;
  height: 30px;
}

.error {
  color: crimson;
}