.container {
    height: 80vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.img {
    height: 400px;
    margin-bottom: 200px;
    object-fit: cover;
    background-size: cover;
}