.container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.img {
    height: 300px;
    margin-bottom: 300px;
    object-fit: cover;
    background-size: cover;
}